MuseumSpel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MuseumSpel/obj/Debug/MuseumSpel.csproj.FileListAbsolute.txt
MuseumSpel/bin/Debug/MuseumSpel.vshost.exe
.vs/MuseumSpel/v14/.suo
MuseumSpel/bin/Debug/MuseumSpel.exe
MuseumSpel/bin/Debug/MuseumSpel.pdb
MuseumSpel/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MuseumSpel/obj/Debug/MuseumSpel.csproj.GenerateResource.Cache
MuseumSpel/obj/Debug/MuseumSpel.csprojResolveAssemblyReference.cache
MuseumSpel/obj/Debug/MuseumSpel.exe
MuseumSpel/obj/Debug/MuseumSpel.pdb
MuseumSpel/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
