MuseumSpel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MuseumSpel/obj/Debug/MuseumSpel.csproj.FileListAbsolute.txt
MuseumSpel/bin/Debug/MuseumSpel.vshost.exe
.vs/MuseumSpel/v14/.suo
MuseumSpel/bin/Debug/MuseumSpel.exe
MuseumSpel/bin/Debug/MuseumSpel.pdb
MuseumSpel/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MuseumSpel/obj/Debug/MuseumSpel.csproj.GenerateResource.Cache
MuseumSpel/obj/Debug/MuseumSpel.csprojResolveAssemblyReference.cache
MuseumSpel/obj/Debug/MuseumSpel.exe
MuseumSpel/obj/Debug/MuseumSpel.pdb
MuseumSpel/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
MuseumSpel/bin/Debug/MuseumSpel.vshost.exe.manifest
MuseumSpelTests/MuseumSpelTests.csproj
MuseumSpelTests/Properties/AssemblyInfo.cs
MuseumSpelTests/SpeelVeldTests.cs
MuseumSpelTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
MuseumSpelTests/bin/Debug/MuseumSpel.exe
MuseumSpelTests/bin/Debug/MuseumSpel.pdb
MuseumSpelTests/bin/Debug/MuseumSpelTests.dll
MuseumSpelTests/bin/Debug/MuseumSpelTests.pdb
MuseumSpelTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MuseumSpelTests/obj/Debug/MuseumSpelTests.csproj.FileListAbsolute.txt
MuseumSpelTests/obj/Debug/MuseumSpelTests.csprojResolveAssemblyReference.cache
MuseumSpelTests/obj/Debug/MuseumSpelTests.dll
MuseumSpelTests/obj/Debug/MuseumSpelTests.pdb
MuseumSpelTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MuseumSpelTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MuseumSpelTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Unit.Test/Class1.cs
Unit.Test/Properties/AssemblyInfo.cs
Unit.Test/Unit.Test.csproj
Unit.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Unit.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Unit.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Unit.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTests/Class1.cs
UnitTests/Properties/AssemblyInfo.cs
UnitTests/UnitTests.csproj
UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
